@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #f2f3f7;
  --foreground: #171717;
  --color-tooltip: #201f24;
  --color-tooltip-text: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f3f7;
    --foreground: #171717;
    --color-tooltip: #201f24;
    --color-tooltip-text: #f2f2f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Public Sans', sans-serif;
}

.custom-tooltip {
  background-color: var(--color-tooltip) !important;
  padding: 0.4rem 0.8rem !important;
  font-size: 13px !important;
  border-radius: 1rem !important;
  font-weight: 500 !important;
  color: var(--color-tooltip-text) !important;
  z-index: 9999 !important;
  line-height: 1.4 !important;
}