@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #f2f3f7;
  --foreground: #171717;
  --color-tooltip: #201f24;
  --color-tooltip-text: #f2f2f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Public Sans', sans-serif;
}

.custom-tooltip {
  background-color: var(--color-tooltip);
  padding: 0.4rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-tooltip-text);
  z-index: 9999;
  line-height: 1.4;
}